@import 'tailwindcss';

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
}

:root {
  --background: #010101;
  --foreground: #ffffff;
  --font-cal-sans: serif;
  --font-inter: serif;

  /* Sizing and Spacing */
  /* Sizing and Spacing */
  --base-unit: 4px;
  --spacing-msm: calc(var(--base-unit) * 3); /* 12px */
  --spacing-sm: calc(var(--base-unit) * 4); /* 16px */
  --spacing-base: calc(var(--base-unit) * 10); /* 40px */
  --spacing-lg: calc(var(--base-unit) * 15); /* 60px */
  --border-radius: calc(var(--base-unit) * 2); /* 8px */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--background);
}

body {
  color: var(--foreground);
  font-family: var(--font-cal-sans), serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  p {
    @apply text-lg;
    font-family: var(--font-inter), serif;
  }
  blockquote,
  blockquote p {
    font-family: var(--font-cal-sans), serif;
  }
}
